@import './colors.scss';

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;

	.modal-content {
		background: $background;
		padding: 20px;
		border-radius: 8px;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
		max-width: 400px;
		width: 100%;
		position: relative;
	}

	.modal-title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;

		span {
			font-size: 2rem;

			&:hover {
				color: red;
				transition: .3s;
			}
		}
	}


	form {
		margin-top: 20px;

		label {
			display: block;
			margin-bottom: 5px;
		}

		input {
			width: 100%;
			padding: 10px;
			margin-bottom: 10px;
			border-radius: 5px;
			border: 1px solid #ccc;
			box-sizing: border-box;
		}

		button {
			width: 100%;
			padding: 10px;
			background-color: #007bff;
			color: #fff;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			transition: background-color 0.3s ease;

			&:hover {
				background-color: #0056b3;
			}
		}
	}
}