@import './colors.scss';

h2 {
	text-transform: uppercase;
	margin-bottom: 1rem;
}

p {
	font-size: 1rem;
	margin-bottom: 1.5rem;
}

img {
	margin-bottom: 2.5rem;
}

.post-item {
	position: relative;
	padding: 1rem;
	max-width: 300px;
	background: $background;
	border-radius: 10px;
	cursor: pointer;

	.post-info {
		position: absolute;
		bottom: 0;
		right: 0;
		gap: 1rem;
		width: 100%;
		display: flex;
		padding: 1rem;
		justify-content: space-between;
		align-items: center;

		.comment {
			display: flex;
			gap: 1rem;
		}

		span {
			text-wrap: nowrap;
		}
	}


}